body{
    background-attachment: fixed;
    overflow: hidden;
   /* text-align: center;*/
}

.LoginForm {
    padding: 50px;
}

.LoginPage {
    background-color: #1ca4fc;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.loginBox {
    background-color: #FFF;
    width: 400px;
    margin: 5% auto auto 33%;
    border-radius: 30px;
    position: absolute;
}

.loginHead {
    height: 100px;
    width: 40%;
    background-image: url("../img/logo.png");
    margin: 50px auto 0 auto;
    color: white;
    background-repeat: no-repeat;
}

.textInput{
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    color: #1ca4fc;
    display: block;
 /*   width: 100%;*/
    height: 62px;
    border-radius: 10px;
    border: 2px solid #1ca4fc;
    padding: 0 30px 0 65px;
    outline: none;
}

#LoginButton{
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 62px;
    border-radius: 6px;
    background: #1ca4fc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 30px;
    padding: 0 30px 0 30px;
    outline: none;
}

.remember{
    font-size: 16px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    padding-bottom: 10px;

}

.check{
    display: inline-block;
}

a{
    text-decoration: none;
}

#Signup{
    outline: none;
    border-bottom: 1px solid #1eabf9;
    font-size: 16px;
    color: #1eabf9;
    line-height: 1.4;
}

.text-align{
    text-align: center!important;
}