html, body, #root {
    height: 100%;
}

.loginPage {
    background-color: rgb(47, 113, 255);
    height: 100%;
}

.loginBox {
    background-color: #FFF;
    height: 400px;
    width: 400px;
    margin: auto;
}

.loginHead {
    height: 50px;
    width: 50px;
    background-color: black;
    margin: auto;
    color: white;
}

