/* Folha de estilos do protótipo. */

.X {
    border: 1px solid red;
}

/* página de login */

#login {
    margin-top: 5%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    /* bordas */
    border: 1px solid rgba(49, 177, 213, 0.333);
    border-radius: 15px;
    /* sombra */
    box-shadow: 0px 0px 20px 1px rgba(70, 186, 218, 0.333);
}

@media screen and (max-width: 767px) {
    #login{
        margin-top: 2%;
        width: 95%;
    }
}

.separator {
    height: 1px;
    width: 90%;
    background-color: /* rgb(205, 205, 205) */ rgba(49, 177, 213, 0.333);
    /* centralizar */
    display: block;
    margin: 10px auto;
    /* sombra */
    box-shadow: 0px 2px 7px 1px rgba(70, 186, 218, 0.333);
}

/* página home */

.header {
    margin: 10px auto;
}

.center-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 48px;
    padding: 0;
}

.menu {
    height: 48px;
}
.info {
    float: left;
    padding: 5px;
}


.img-profile {
    float: right;
    height: 48px;
    width: 48px;
    background: black;
}

.main {
    min-height: 500px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 1px rgba(70, 186, 218, 0.333);
    padding-top: 20px;
}

.tab-pane {
    padding: 20px;
}

.panel-heading {
    padding: 0px;
}

#profile .panel-title {
    text-align: center;
    padding: 10px 15px;
}

.panel-title-toggle {
    padding: 10px 15px;
}



/* Galeria Exames */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Pagina para recuperar senha*/
#recover {
    margin-top: 5%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px 50px;
    border: 1px solid rgba(49, 177, 213, 0.333);
    border-radius: 15px;
    /* box-shadow: */
}