.PatientProfile{
	font-family: Lato;
	background-color: #f1f4f7!important;
	overflow: hidden;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
}

.newConsultButton{
    margin-bottom: 20px;
}

.timeline > li > .timeline-badge{
	font-size: 1em;
}

